<%= form_with(model: [:admin, user], url: user.persisted? ? admin_resident_path(user) : admin_residents_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :complete_address %>
    <%= form.text_area :complete_address %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <%= form.hidden_field :role, value: 'resident' %>
  <%= form.hidden_field :status, value: 'approved' %>
  <%= form.hidden_field :province, value: current_user.province %>
  <%= form.hidden_field :city_municipality, value: current_user.city_municipality %>
  <%= form.hidden_field :barangay, value: current_user.barangay %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
