<div class="residents-index-wrapper">
  <h1 class="page-title"> Registered Residents of BRGY.<%= current_user.barangay.upcase %></h1>

  <div class="residents-index-actions">
    <%= link_to 'Add Resident', new_admin_resident_path, class: "action-link" %>
    <%= link_to 'Pending Accounts', pending_admin_residents_path, class: "action-link" %>
  </div>

  <div class="search-line">
    <%= form_tag(admin_residents_path, method: :get, class: "search-form") do %>
      <%= text_field_tag :last_name_query, params[:last_name_query], placeholder: "Search by last name", class: "search-input" %>
      <%= submit_tag "Search", class:"search-submit" %>
    <% end %>
  </div>

  <div class="residents-index-container">
    <% @users.sort_by { |resident| [resident.last_name, resident.first_name] }.each do |user| %>
      <div class="indiv-resident">
        <p><strong style="color: #5C821A;">Name:</strong> <%= link_to "#{user.last_name}, #{user.first_name}", admin_resident_path(user), class: "name-link" %></p>
        <p><strong style="color: #5C821A;">Email:</strong> <%= user.email %></p>
        <p><strong style="color: #5C821A;">Contact Number:</strong> <%= user.contact_number %></p>
        <p><strong style="color: #5C821A;">Complete Address:</strong> <%= user.complete_address.titleize %></p>
      </div>
    <% end %>
  </div>
</div>
