<div class="admin-dash-wrapper">
  <h1 class='page-title'>Hello, <%= current_user.first_name.upcase %>!</h1>

  <div class='dash-divider'>
    <h2 class='divider-title'>Latest Announcement</h2><hr>
    <div class='dash-announcement'>
      <% if @announcement %>
        <div class='dash-announcement-top'>
          <h2><%= link_to @announcement.title.upcase, admin_announcement_path(@announcement), class: 'announce-link' %></h2>
         
        </div>
        <div class='dash-announcement-body'>
          <p class='dash-announcement-date'><small>Published at: <%= @announcement.created_at.in_time_zone('Asia/Manila').strftime('%d %b %Y, %H:%M:%S') %> || Updated at: <%= @announcement.updated_at.in_time_zone('Asia/Manila').strftime('%d %b %Y, %H:%M:%S') %></small></p>
          <p class='dash-announcement-content'><%= @announcement.content %></p>
        </div>
      <% else %>
        <p class="no-announcement">There are no announcements yet.</p>
      <% end %>
    </div>
  </div>

  <div class='dash-divider'>
    <h2 class='divider-title'>New Complaints</h2><hr>
    <div class='dash-complaints'>
      <% if @complaints.empty? %>
        <p class="no-complaints">There are no complaints yet.</p>
      <% else %>
        <div class="complaint-status-wrapper">
          <div class="dash-complaints-pending">
            <% @complaints.each do |complaint| %>
              <div class="complaint-card">
                <div class="complaint-top">
                  <h3 class="complaint-subject"><%= link_to complaint.subject, admin_complaint_path(complaint), class: 'name-link index-link' %></h3>
                  <p class="status-badge <%= complaint.status %>"><%= complaint.status %></p>
                </div>
                <p><strong>Filed By:</strong> <%= complaint.user.email %></p>
                <p class="complaint-details"><%= complaint.created_at.in_time_zone('Asia/Manila').strftime('%d %b %Y, %H:%M:%S') %></p>
                <p class="complaint-details"><%= truncate(complaint.description, length: 100) %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
