<%= form_with(model: complaint, url: resident_complaints_path, local: true, class: "complaint-form") do |form| %>
   <% if @complaint.errors.any? %>
    <div style="color: red;">
      <h2><%= pluralize(@complaint.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
        <% @complaint.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="complaint-field">
    <%= form.label :subject %>
    <%= form.text_field :subject, placeholder: "What is it about?", class: "complaint-input" %>
  </div>

  <div class="complaint-field">
    <%= form.label :description %>
    <%= form.text_area :description, placeholder: "Please provide a brief, yet detailed description of the event/concern.", class: "complaint-input complaint-description" %>
  </div>

  <%= form.hidden_field :status, value: "pending" %>
    <br>
  <div class="actions">
    <%= form.submit "Submit", class: "complaint-submit" %>
  </div>
<% end %>