<div class="complaint-card-show">
    <div class="complaint-top">
      <h3 class="complaint-subject"><%= @complaint.subject.upcase %></h3>
      <p class="status-badge <%= @complaint.status %>"><%= @complaint.status %></p>
    </div>
    <div class="complaint-details">
      <p><strong>Created At:</strong> <%= @complaint.created_at.in_time_zone('Asia/Manila').strftime('%d %b %Y, %H:%M:%S') %></p>
      <p><strong>Full Description:</strong> <%= @complaint.description %></p>
    </div>
      <div class="resident-show-announcement-actions">
      <%= link_to 'Back', resident_complaints_path, class: "action-link" %>
    </div>
</div>
