<div class="post-index-wrapper">
  <h1 class="page-title">Posts from Barangay <%= current_user.barangay %></h1>
  
  <div class="post-index-actions">
    POSTS
  </div>

  <div class="posts-index-container">
    <% @posts.reverse_each do |post| %>
      <div class="indiv-post">
        <p>
          <strong>
            <% if post.anonymous? %>
              <span>Anonymous:</span>
            <% else %>
              <span><%= post.user.first_name %>:</span>
            <% end %>
          </strong><br>
          <small class="posted-at-info">
            <%= post.created_at.strftime("%d %b %Y, %H:%M:%S") %>
          </small>
        </p>
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
      </div>
    <% end %>
  </div>
</div>
