<style>
.post-index-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.post-index-actions {
  margin-bottom: 20px;
}

.action-link {
  color: #007bff; /* Blue color for links */
  text-decoration: none;
  margin-right: 20px;
}

/* Style for individual posts */
.indiv-post {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.author-info {
  font-weight: bold;
}

.posted-at-info {
  font-size: 12px;
  color: #777;
}

.post-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.post-content {
  margin-bottom: 10px;
}

.comments-section {
  margin-top: 20px;
}


.comment {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}


.comment-info {
  font-weight: bold;
}

.comment-content {
  margin-top: 5px;
}


.comment-form {
  margin-top: 20px;
}


.comment-form input[type="text"],
.comment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.comment-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
</style>

<div class="post-index-wrapper">
  <h1 class="page-ttile">Your Posts</h1>
  
  <div class="post-index-actions">
    <%= link_to "Create New Post", new_resident_post_path, class: "action-link" %>
    <%= link_to "Back to All Posts", resident_posts_path, class: "action-link" %>
  </div>

  <div class="posts-index-container">
  <% @user_posts.reverse_each do |post| %>
    <div class="indiv-post">
      <p>
        <strong>
          <% if post.anonymous? %>
            <span>Anonymous:</span>
          <% else %>
            <span><%= post.user.first_name %>:</span>
          <% end %>
        </strong><br>
        <small class="posted-at-info">
        <%= post.created_at.strftime("%d %b %Y, %H:%M:%S") %>
        </small>
      </p>
      <h3><%= post.title %></h3>
      <p><%= post.content %></p>
    </div>
  <% end %>
  </div>
</div>
