<h2>Create New Post</h2>

<%= form_for @post, url: resident_posts_path do |f| %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.check_box :anonymous %>
    <%= f.label :anonymous, "Post anonymously" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
